material = {
  icons: {
    "360":                                         "360",
    "3d-rotation":                                 "3d_rotation",
    "4k":                                          "4k",
    "ac-unit":                                     "ac_unit",
    "access-alarm":                                "access_alarm",
    "access-alarms":                               "access_alarms",
    "access-time":                                 "access_time",
    "accessibility":                               "accessibility",
    "accessibility-new":                           "accessibility_new",
    "accessible":                                  "accessible",
    "accessible-forward":                          "accessible_forward",
    "account-balance":                             "account_balance",
    "account-balance-wallet":                      "account_balance_wallet",
    "account-box":                                 "account_box",
    "account-circle":                              "account_circle",
    "adb":                                         "adb",
    "add":                                         "add",
    "add-a-photo":                                 "add_a_photo",
    "add-alarm":                                   "add_alarm",
    "add-alert":                                   "add_alert",
    "add-box":                                     "add_box",
    "add-circle":                                  "add_circle",
    "add-circle-outline":                          "add_circle_outline",
    "add-comment":                                 "add_comment",
    "add-location":                                "add_location",
    "add-photo-alternate":                         "add_photo_alternate",
    "add-shopping-cart":                           "add_shopping_cart",
    "add-to-home-screen":                          "add_to_home_screen",
    "add-to-photos":                               "add_to_photos",
    "add-to-queue":                                "add_to_queue",
    "adjust":                                      "adjust",
    "airline-seat-flat":                           "airline_seat_flat",
    "airline-seat-flat-angled":                    "airline_seat_flat_angled",
    "airline-seat-individual-suite":               "airline_seat_individual_suite",
    "airline-seat-legroom-extra":                  "airline_seat_legroom_extra",
    "airline-seat-legroom-normal":                 "airline_seat_legroom_normal",
    "airline-seat-legroom-reduced":                "airline_seat_legroom_reduced",
    "airline-seat-recline-extra":                  "airline_seat_recline_extra",
    "airline-seat-recline-normal":                 "airline_seat_recline_normal",
    "airplanemode-active":                         "airplanemode_active",
    "airplanemode-inactive":                       "airplanemode_inactive",
    "airplay":                                     "airplay",
    "airport-shuttle":                             "airport_shuttle",
    "alarm":                                       "alarm",
    "alarm-add":                                   "alarm_add",
    "alarm-off":                                   "alarm_off",
    "alarm-on":                                    "alarm_on",
    "album":                                       "album",
    "all-inbox":                                   "all_inbox",
    "all-inclusive":                               "all_inclusive",
    "all-out":                                     "all_out",
    "alternate-email":                             "alternate_email",
    "android":                                     "android",
    "announcement":                                "announcement",
    "apps":                                        "apps",
    "archive":                                     "archive",
    "arrow-back":                                  "arrow_back",
    "arrow-back-ios":                              "arrow_back_ios",
    "arrow-downward":                              "arrow_downward",
    "arrow-drop-down":                             "arrow_drop_down",
    "arrow-drop-down-circle":                      "arrow_drop_down_circle",
    "arrow-drop-up":                               "arrow_drop_up",
    "arrow-forward":                               "arrow_forward",
    "arrow-forward-ios":                           "arrow_forward_ios",
    "arrow-left":                                  "arrow_left",
    "arrow-right":                                 "arrow_right",
    "arrow-right-alt":                             "arrow_right_alt",
    "arrow-upward":                                "arrow_upward",
    "art-track":                                   "art_track",
    "aspect-ratio":                                "aspect_ratio",
    "assessment":                                  "assessment",
    "assignment":                                  "assignment",
    "assignment-ind":                              "assignment_ind",
    "assignment-late":                             "assignment_late",
    "assignment-return":                           "assignment_return",
    "assignment-returned":                         "assignment_returned",
    "assignment-turned-in":                        "assignment_turned_in",
    "assistant":                                   "assistant",
    "assistant-photo":                             "assistant_photo",
    "atm":                                         "atm",
    "attach-file":                                 "attach_file",
    "attach-money":                                "attach_money",
    "attachment":                                  "attachment",
    "audiotrack":                                  "audiotrack",
    "autorenew":                                   "autorenew",
    "av-timer":                                    "av_timer",
    "backspace":                                   "backspace",
    "backup":                                      "backup",
    "ballot":                                      "ballot",
    "bar-chart":                                   "bar_chart",
    "battery-20":                                  "battery_20",
    "battery-30":                                  "battery_30",
    "battery-50":                                  "battery_50",
    "battery-60":                                  "battery_60",
    "battery-80":                                  "battery_80",
    "battery-90":                                  "battery_90",
    "battery-alert":                               "battery_alert",
    "battery-charging-20":                         "battery_charging_20",
    "battery-charging-30":                         "battery_charging_30",
    "battery-charging-50":                         "battery_charging_50",
    "battery-charging-60":                         "battery_charging_60",
    "battery-charging-80":                         "battery_charging_80",
    "battery-charging-90":                         "battery_charging_90",
    "battery-charging-full":                       "battery_charging_full",
    "battery-full":                                "battery_full",
    "battery-std":                                 "battery_std",
    "battery-unknown":                             "battery_unknown",
    "beach-access":                                "beach_access",
    "beenhere":                                    "beenhere",
    "block":                                       "block",
    "bluetooth":                                   "bluetooth",
    "bluetooth-audio":                             "bluetooth_audio",
    "bluetooth-connected":                         "bluetooth_connected",
    "bluetooth-disabled":                          "bluetooth_disabled",
    "bluetooth-searching":                         "bluetooth_searching",
    "blur-circular":                               "blur_circular",
    "blur-linear":                                 "blur_linear",
    "blur-off":                                    "blur_off",
    "blur-on":                                     "blur_on",
    "book":                                        "book",
    "bookmark":                                    "bookmark",
    "bookmark-border":                             "bookmark_border",
    "bookmarks":                                   "bookmarks",
    "border-all":                                  "border_all",
    "border-bottom":                               "border_bottom",
    "border-clear":                                "border_clear",
    "border-color":                                "border_color",
    "border-horizontal":                           "border_horizontal",
    "border-inner":                                "border_inner",
    "border-left":                                 "border_left",
    "border-outer":                                "border_outer",
    "border-right":                                "border_right",
    "border-style":                                "border_style",
    "border-top":                                  "border_top",
    "border-vertical":                             "border_vertical",
    "branding-watermark":                          "branding_watermark",
    "brightness-1":                                "brightness_1",
    "brightness-2":                                "brightness_2",
    "brightness-3":                                "brightness_3",
    "brightness-4":                                "brightness_4",
    "brightness-5":                                "brightness_5",
    "brightness-6":                                "brightness_6",
    "brightness-7":                                "brightness_7",
    "brightness-auto":                             "brightness_auto",
    "brightness-high":                             "brightness_high",
    "brightness-low":                              "brightness_low",
    "brightness-medium":                           "brightness_medium",
    "broken-image":                                "broken_image",
    "brush":                                       "brush",
    "bubble-chart":                                "bubble_chart",
    "bug-report":                                  "bug_report",
    "build":                                       "build",
    "burst-mode":                                  "burst_mode",
    "business":                                    "business",
    "business-center":                             "business_center",
    "cached":                                      "cached",
    "cake":                                        "cake",
    "calendar-today":                              "calendar_today",
    "calendar-view-day":                           "calendar_view_day",
    "call":                                        "call",
    "call-end":                                    "call_end",
    "call-made":                                   "call_made",
    "call-merge":                                  "call_merge",
    "call-missed":                                 "call_missed",
    "call-missed-outgoing":                        "call_missed_outgoing",
    "call-received":                               "call_received",
    "call-split":                                  "call_split",
    "call-to-action":                              "call_to_action",
    "camera":                                      "camera",
    "camera-alt":                                  "camera_alt",
    "camera-enhance":                              "camera_enhance",
    "camera-front":                                "camera_front",
    "camera-rear":                                 "camera_rear",
    "camera-roll":                                 "camera_roll",
    "cancel":                                      "cancel",
    "cancel-presentation":                         "cancel_presentation",
    "card-giftcard":                               "card_giftcard",
    "card-membership":                             "card_membership",
    "card-travel":                                 "card_travel",
    "casino":                                      "casino",
    "cast":                                        "cast",
    "cast-connected":                              "cast_connected",
    "cast-for-education":                          "cast_for_education",
    "category":                                    "category",
    "cell-wifi":                                   "cell_wifi",
    "center-focus-strong":                         "center_focus_strong",
    "center-focus-weak":                           "center_focus_weak",
    "change-history":                              "change_history",
    "chat":                                        "chat",
    "chat-bubble":                                 "chat_bubble",
    "chat-bubble-outline":                         "chat_bubble_outline",
    "check":                                       "check",
    "check-box":                                   "check_box",
    "check-box-outline-blank":                     "check_box_outline_blank",
    "check-circle":                                "check_circle",
    "check-circle-outline":                        "check_circle_outline",
    "chevron-left":                                "chevron_left",
    "chevron-right":                               "chevron_right",
    "child-care":                                  "child_care",
    "child-friendly":                              "child_friendly",
    "chrome-reader-mode":                          "chrome_reader_mode",
    "class":                                       "class",
    "clear":                                       "clear",
    "clear-all":                                   "clear_all",
    "close":                                       "close",
    "closed-caption":                              "closed_caption",
    "cloud":                                       "cloud",
    "cloud-circle":                                "cloud_circle",
    "cloud-done":                                  "cloud_done",
    "cloud-download":                              "cloud_download",
    "cloud-off":                                   "cloud_off",
    "cloud-queue":                                 "cloud_queue",
    "cloud-upload":                                "cloud_upload",
    "code":                                        "code",
    "collections":                                 "collections",
    "collections-bookmark":                        "collections_bookmark",
    "color-lens":                                  "color_lens",
    "colorize":                                    "colorize",
    "comment":                                     "comment",
    "commute":                                     "commute",
    "compare":                                     "compare",
    "compare-arrows":                              "compare_arrows",
    "compass-calibration":                         "compass_calibration",
    "computer":                                    "computer",
    "confirmation-number":                         "confirmation_number",
    "contact-mail":                                "contact_mail",
    "contact-phone":                               "contact_phone",
    "contact-support":                             "contact_support",
    "contacts":                                    "contacts",
    "control-camera":                              "control_camera",
    "control-point":                               "control_point",
    "control-point-duplicate":                     "control_point_duplicate",
    "copyright":                                   "copyright",
    "create":                                      "create",
    "create-new-folder":                           "create_new_folder",
    "credit-card":                                 "credit_card",
    "crop":                                        "crop",
    "crop-16-9":                                   "crop_16_9",
    "crop-3-2":                                    "crop_3_2",
    "crop-5-4":                                    "crop_5_4",
    "crop-7-5":                                    "crop_7_5",
    "crop-din":                                    "crop_din",
    "crop-free":                                   "crop_free",
    "crop-landscape":                              "crop_landscape",
    "crop-original":                               "crop_original",
    "crop-portrait":                               "crop_portrait",
    "crop-rotate":                                 "crop_rotate",
    "crop-square":                                 "crop_square",
    "dashboard":                                   "dashboard",
    "data-usage":                                  "data_usage",
    "date-range":                                  "date_range",
    "dehaze":                                      "dehaze",
    "delete":                                      "delete",
    "delete-forever":                              "delete_forever",
    "delete-outline":                              "delete_outline",
    "delete-sweep":                                "delete_sweep",
    "departure-board":                             "departure_board",
    "description":                                 "description",
    "desktop-access-disabled":                     "desktop_access_disabled",
    "desktop-mac":                                 "desktop_mac",
    "desktop-windows":                             "desktop_windows",
    "details":                                     "details",
    "developer-board":                             "developer_board",
    "developer-mode":                              "developer_mode",
    "device-hub":                                  "device_hub",
    "device-unknown":                              "device_unknown",
    "devices":                                     "devices",
    "devices-other":                               "devices_other",
    "dialer-sip":                                  "dialer_sip",
    "dialpad":                                     "dialpad",
    "directions":                                  "directions",
    "directions-bike":                             "directions_bike",
    "directions-boat":                             "directions_boat",
    "directions-bus":                              "directions_bus",
    "directions-car":                              "directions_car",
    "directions-railway":                          "directions_railway",
    "directions-run":                              "directions_run",
    "directions-subway":                           "directions_subway",
    "directions-transit":                          "directions_transit",
    "directions-walk":                             "directions_walk",
    "disc-full":                                   "disc_full",
    "dns":                                         "dns",
    "dock":                                        "dock",
    "domain":                                      "domain",
    "domain-disabled":                             "domain_disabled",
    "done":                                        "done",
    "done-all":                                    "done_all",
    "done-outline":                                "done_outline",
    "donut-large":                                 "donut_large",
    "donut-small":                                 "donut_small",
    "drafts":                                      "drafts",
    "drag-handle":                                 "drag_handle",
    "drag-indicator":                              "drag_indicator",
    "drive-eta":                                   "drive_eta",
    "duo":                                         "duo",
    "dvr":                                         "dvr",
    "edit":                                        "edit",
    "edit-attributes":                             "edit_attributes",
    "edit-location":                               "edit_location",
    "eject":                                       "eject",
    "email":                                       "email",
    "enhanced-encryption":                         "enhanced_encryption",
    "equalizer":                                   "equalizer",
    "error":                                       "error",
    "error-outline":                               "error_outline",
    "euro-symbol":                                 "euro_symbol",
    "ev-station":                                  "ev_station",
    "event":                                       "event",
    "event-available":                             "event_available",
    "event-busy":                                  "event_busy",
    "event-note":                                  "event_note",
    "event-seat":                                  "event_seat",
    "exit-to-app":                                 "exit_to_app",
    "expand-less":                                 "expand_less",
    "expand-more":                                 "expand_more",
    "explicit":                                    "explicit",
    "explore":                                     "explore",
    "explore-off":                                 "explore_off",
    "exposure":                                    "exposure",
    "exposure-neg-1":                              "exposure_neg_1",
    "exposure-neg-2":                              "exposure_neg_2",
    "exposure-plus-1":                             "exposure_plus_1",
    "exposure-plus-2":                             "exposure_plus_2",
    "exposure-zero":                               "exposure_zero",
    "extension":                                   "extension",
    "face":                                        "face",
    "fast-forward":                                "fast_forward",
    "fast-rewind":                                 "fast_rewind",
    "fastfood":                                    "fastfood",
    "favorite":                                    "favorite",
    "favorite-border":                             "favorite_border",
    "featured-play-list":                          "featured_play_list",
    "featured-video":                              "featured_video",
    "feedback":                                    "feedback",
    "fiber-dvr":                                   "fiber_dvr",
    "fiber-manual-record":                         "fiber_manual_record",
    "fiber-new":                                   "fiber_new",
    "fiber-pin":                                   "fiber_pin",
    "fiber-smart-record":                          "fiber_smart_record",
    "file-copy":                                   "file_copy",
    "filter":                                      "filter",
    "filter-1":                                    "filter_1",
    "filter-2":                                    "filter_2",
    "filter-3":                                    "filter_3",
    "filter-4":                                    "filter_4",
    "filter-5":                                    "filter_5",
    "filter-6":                                    "filter_6",
    "filter-7":                                    "filter_7",
    "filter-8":                                    "filter_8",
    "filter-9":                                    "filter_9",
    "filter-9-plus":                               "filter_9_plus",
    "filter-b-and-w":                              "filter_b_and_w",
    "filter-center-focus":                         "filter_center_focus",
    "filter-drama":                                "filter_drama",
    "filter-frames":                               "filter_frames",
    "filter-hdr":                                  "filter_hdr",
    "filter-list":                                 "filter_list",
    "filter-none":                                 "filter_none",
    "filter-tilt-shift":                           "filter_tilt_shift",
    "filter-vintage":                              "filter_vintage",
    "find-in-page":                                "find_in_page",
    "find-replace":                                "find_replace",
    "fingerprint":                                 "fingerprint",
    "first-page":                                  "first_page",
    "fitness-center":                              "fitness_center",
    "flag":                                        "flag",
    "flare":                                       "flare",
    "flash-auto":                                  "flash_auto",
    "flash-off":                                   "flash_off",
    "flash-on":                                    "flash_on",
    "flight":                                      "flight",
    "flight-land":                                 "flight_land",
    "flight-takeoff":                              "flight_takeoff",
    "flip":                                        "flip",
    "flip-to-back":                                "flip_to_back",
    "flip-to-front":                               "flip_to_front",
    "folder":                                      "folder",
    "folder-open":                                 "folder_open",
    "folder-shared":                               "folder_shared",
    "folder-special":                              "folder_special",
    "font-download":                               "font_download",
    "format-align-center":                         "format_align_center",
    "format-align-justify":                        "format_align_justify",
    "format-align-left":                           "format_align_left",
    "format-align-right":                          "format_align_right",
    "format-bold":                                 "format_bold",
    "format-clear":                                "format_clear",
    "format-color-fill":                           "format_color_fill",
    "format-color-reset":                          "format_color_reset",
    "format-color-text":                           "format_color_text",
    "format-indent-decrease":                      "format_indent_decrease",
    "format-indent-increase":                      "format_indent_increase",
    "format-italic":                               "format_italic",
    "format-line-spacing":                         "format_line_spacing",
    "format-list-bulleted":                        "format_list_bulleted",
    "format-list-numbered":                        "format_list_numbered",
    "format-list-numbered-rtl":                    "format_list_numbered_rtl",
    "format-paint":                                "format_paint",
    "format-quote":                                "format_quote",
    "format-shapes":                               "format_shapes",
    "format-size":                                 "format_size",
    "format-strikethrough":                        "format_strikethrough",
    "format-textdirection-l-to-r":                 "format_textdirection_l_to_r",
    "format-textdirection-r-to-l":                 "format_textdirection_r_to_l",
    "format-underlined":                           "format_underlined",
    "forum":                                       "forum",
    "forward":                                     "forward",
    "forward-10":                                  "forward_10",
    "forward-30":                                  "forward_30",
    "forward-5":                                   "forward_5",
    "free-breakfast":                              "free_breakfast",
    "fullscreen":                                  "fullscreen",
    "fullscreen-exit":                             "fullscreen_exit",
    "functions":                                   "functions",
    "g-translate":                                 "g_translate",
    "gamepad":                                     "gamepad",
    "games":                                       "games",
    "gavel":                                       "gavel",
    "gesture":                                     "gesture",
    "get-app":                                     "get_app",
    "gif":                                         "gif",
    "golf-course":                                 "golf_course",
    "gps-fixed":                                   "gps_fixed",
    "gps-not-fixed":                               "gps_not_fixed",
    "gps-off":                                     "gps_off",
    "grade":                                       "grade",
    "gradient":                                    "gradient",
    "grain":                                       "grain",
    "graphic-eq":                                  "graphic_eq",
    "grid-off":                                    "grid_off",
    "grid-on":                                     "grid_on",
    "group":                                       "group",
    "group-add":                                   "group_add",
    "group-work":                                  "group_work",
    "hd":                                          "hd",
    "hdr-off":                                     "hdr_off",
    "hdr-on":                                      "hdr_on",
    "hdr-strong":                                  "hdr_strong",
    "hdr-weak":                                    "hdr_weak",
    "headset":                                     "headset",
    "headset-mic":                                 "headset_mic",
    "healing":                                     "healing",
    "hearing":                                     "hearing",
    "help":                                        "help",
    "help-outline":                                "help_outline",
    "high-quality":                                "high_quality",
    "highlight":                                   "highlight",
    "highlight-off":                               "highlight_off",
    "history":                                     "history",
    "home":                                        "home",
    "horizontal-split":                            "horizontal_split",
    "hot-tub":                                     "hot_tub",
    "hotel":                                       "hotel",
    "hourglass-empty":                             "hourglass_empty",
    "hourglass-full":                              "hourglass_full",
    "how-to-reg":                                  "how_to_reg",
    "how-to-vote":                                 "how_to_vote",
    "http":                                        "http",
    "https":                                       "https",
    "image":                                       "image",
    "image-aspect-ratio":                          "image_aspect_ratio",
    "image-search":                                "image_search",
    "import-contacts":                             "import_contacts",
    "import-export":                               "import_export",
    "important-devices":                           "important_devices",
    "inbox":                                       "inbox",
    "indeterminate-check-box":                     "indeterminate_check_box",
    "info":                                        "info",
    "input":                                       "input",
    "insert-chart":                                "insert_chart",
    "insert-chart-outlined":                       "insert_chart_outlined",
    "insert-comment":                              "insert_comment",
    "insert-drive-file":                           "insert_drive_file",
    "insert-emoticon":                             "insert_emoticon",
    "insert-invitation":                           "insert_invitation",
    "insert-link":                                 "insert_link",
    "insert-photo":                                "insert_photo",
    "invert-colors":                               "invert_colors",
    "invert-colors-off":                           "invert_colors_off",
    "iso":                                         "iso",
    "keyboard":                                    "keyboard",
    "keyboard-arrow-down":                         "keyboard_arrow_down",
    "keyboard-arrow-left":                         "keyboard_arrow_left",
    "keyboard-arrow-right":                        "keyboard_arrow_right",
    "keyboard-arrow-up":                           "keyboard_arrow_up",
    "keyboard-backspace":                          "keyboard_backspace",
    "keyboard-capslock":                           "keyboard_capslock",
    "keyboard-hide":                               "keyboard_hide",
    "keyboard-return":                             "keyboard_return",
    "keyboard-tab":                                "keyboard_tab",
    "keyboard-voice":                              "keyboard_voice",
    "kitchen":                                     "kitchen",
    "label":                                       "label",
    "label-important":                             "label_important",
    "label-off":                                   "label_off",
    "landscape":                                   "landscape",
    "language":                                    "language",
    "laptop":                                      "laptop",
    "laptop-chromebook":                           "laptop_chromebook",
    "laptop-mac":                                  "laptop_mac",
    "laptop-windows":                              "laptop_windows",
    "last-page":                                   "last_page",
    "launch":                                      "launch",
    "layers":                                      "layers",
    "layers-clear":                                "layers_clear",
    "leak-add":                                    "leak_add",
    "leak-remove":                                 "leak_remove",
    "lens":                                        "lens",
    "library-add":                                 "library_add",
    "library-books":                               "library_books",
    "library-music":                               "library_music",
    "line-style":                                  "line_style",
    "line-weight":                                 "line_weight",
    "linear-scale":                                "linear_scale",
    "link":                                        "link",
    "link-off":                                    "link_off",
    "linked-camera":                               "linked_camera",
    "list":                                        "list",
    "list-alt":                                    "list_alt",
    "live-help":                                   "live_help",
    "live-tv":                                     "live_tv",
    "local-activity":                              "local_activity",
    "local-airport":                               "local_airport",
    "local-atm":                                   "local_atm",
    "local-bar":                                   "local_bar",
    "local-cafe":                                  "local_cafe",
    "local-car-wash":                              "local_car_wash",
    "local-convenience-store":                     "local_convenience_store",
    "local-dining":                                "local_dining",
    "local-drink":                                 "local_drink",
    "local-florist":                               "local_florist",
    "local-gas-station":                           "local_gas_station",
    "local-grocery-store":                         "local_grocery_store",
    "local-hospital":                              "local_hospital",
    "local-hotel":                                 "local_hotel",
    "local-laundry-service":                       "local_laundry_service",
    "local-library":                               "local_library",
    "local-mall":                                  "local_mall",
    "local-movies":                                "local_movies",
    "local-offer":                                 "local_offer",
    "local-parking":                               "local_parking",
    "local-pharmacy":                              "local_pharmacy",
    "local-phone":                                 "local_phone",
    "local-pizza":                                 "local_pizza",
    "local-play":                                  "local_play",
    "local-post-office":                           "local_post_office",
    "local-printshop":                             "local_printshop",
    "local-see":                                   "local_see",
    "local-shipping":                              "local_shipping",
    "local-taxi":                                  "local_taxi",
    "location-city":                               "location_city",
    "location-disabled":                           "location_disabled",
    "location-off":                                "location_off",
    "location-on":                                 "location_on",
    "location-searching":                          "location_searching",
    "lock":                                        "lock",
    "lock-open":                                   "lock_open",
    "looks":                                       "looks",
    "looks-3":                                     "looks_3",
    "looks-4":                                     "looks_4",
    "looks-5":                                     "looks_5",
    "looks-6":                                     "looks_6",
    "looks-one":                                   "looks_one",
    "looks-two":                                   "looks_two",
    "loop":                                        "loop",
    "loupe":                                       "loupe",
    "low-priority":                                "low_priority",
    "loyalty":                                     "loyalty",
    "mail":                                        "mail",
    "mail-outline":                                "mail_outline",
    "map":                                         "map",
    "markunread":                                  "markunread",
    "markunread-mailbox":                          "markunread_mailbox",
    "maximize":                                    "maximize",
    "meeting-room":                                "meeting_room",
    "memory":                                      "memory",
    "menu":                                        "menu",
    "merge-type":                                  "merge_type",
    "message":                                     "message",
    "mic":                                         "mic",
    "mic-none":                                    "mic_none",
    "mic-off":                                     "mic_off",
    "minimize":                                    "minimize",
    "missed-video-call":                           "missed_video_call",
    "mms":                                         "mms",
    "mobile-friendly":                             "mobile_friendly",
    "mobile-off":                                  "mobile_off",
    "mobile-screen-share":                         "mobile_screen_share",
    "mode-comment":                                "mode_comment",
    "monetization-on":                             "monetization_on",
    "money":                                       "money",
    "money-off":                                   "money_off",
    "monochrome-photos":                           "monochrome_photos",
    "mood":                                        "mood",
    "mood-bad":                                    "mood_bad",
    "more":                                        "more",
    "more-horiz":                                  "more_horiz",
    "more-vert":                                   "more_vert",
    "motorcycle":                                  "motorcycle",
    "mouse":                                       "mouse",
    "move-to-inbox":                               "move_to_inbox",
    "movie":                                       "movie",
    "movie-creation":                              "movie_creation",
    "movie-filter":                                "movie_filter",
    "multiline-chart":                             "multiline_chart",
    "music-note":                                  "music_note",
    "music-off":                                   "music_off",
    "music-video":                                 "music_video",
    "my-location":                                 "my_location",
    "nature":                                      "nature",
    "nature-people":                               "nature_people",
    "navigate-before":                             "navigate_before",
    "navigate-next":                               "navigate_next",
    "navigation":                                  "navigation",
    "near-me":                                     "near_me",
    "network-cell":                                "network_cell",
    "network-check":                               "network_check",
    "network-locked":                              "network_locked",
    "network-wifi":                                "network_wifi",
    "new-releases":                                "new_releases",
    "next-week":                                   "next_week",
    "nfc":                                         "nfc",
    "no-encryption":                               "no_encryption",
    "no-meeting-room":                             "no_meeting_room",
    "no-sim":                                      "no_sim",
    "not-interested":                              "not_interested",
    "not-listed-location":                         "not_listed_location",
    "note":                                        "note",
    "note-add":                                    "note_add",
    "notes":                                       "notes",
    "notification-important":                      "notification_important",
    "notifications":                               "notifications",
    "notifications-active":                        "notifications_active",
    "notifications-none":                          "notifications_none",
    "notifications-off":                           "notifications_off",
    "notifications-paused":                        "notifications_paused",
    "offline-bolt":                                "offline_bolt",
    "offline-pin":                                 "offline_pin",
    "ondemand-video":                              "ondemand_video",
    "opacity":                                     "opacity",
    "open-in-browser":                             "open_in_browser",
    "open-in-new":                                 "open_in_new",
    "open-with":                                   "open_with",
    "outlined-flag":                               "outlined_flag",
    "pages":                                       "pages",
    "pageview":                                    "pageview",
    "palette":                                     "palette",
    "pan-tool":                                    "pan_tool",
    "panorama":                                    "panorama",
    "panorama-fish-eye":                           "panorama_fish_eye",
    "panorama-horizontal":                         "panorama_horizontal",
    "panorama-vertical":                           "panorama_vertical",
    "panorama-wide-angle":                         "panorama_wide_angle",
    "party-mode":                                  "party_mode",
    "pause":                                       "pause",
    "pause-circle-filled":                         "pause_circle_filled",
    "pause-circle-outline":                        "pause_circle_outline",
    "pause-presentation":                          "pause_presentation",
    "payment":                                     "payment",
    "people":                                      "people",
    "people-outline":                              "people_outline",
    "perm-camera-mic":                             "perm_camera_mic",
    "perm-contact-calendar":                       "perm_contact_calendar",
    "perm-data-setting":                           "perm_data_setting",
    "perm-device-information":                     "perm_device_information",
    "perm-identity":                               "perm_identity",
    "perm-media":                                  "perm_media",
    "perm-phone-msg":                              "perm_phone_msg",
    "perm-scan-wifi":                              "perm_scan_wifi",
    "person":                                      "person",
    "person-add":                                  "person_add",
    "person-add-disabled":                         "person_add_disabled",
    "person-outline":                              "person_outline",
    "person-pin":                                  "person_pin",
    "person-pin-circle":                           "person_pin_circle",
    "personal-video":                              "personal_video",
    "pets":                                        "pets",
    "phone":                                       "phone",
    "phone-android":                               "phone_android",
    "phone-bluetooth-speaker":                     "phone_bluetooth_speaker",
    "phone-callback":                              "phone_callback",
    "phone-forwarded":                             "phone_forwarded",
    "phone-in-talk":                               "phone_in_talk",
    "phone-iphone":                                "phone_iphone",
    "phone-locked":                                "phone_locked",
    "phone-missed":                                "phone_missed",
    "phone-paused":                                "phone_paused",
    "phonelink":                                   "phonelink",
    "phonelink-erase":                             "phonelink_erase",
    "phonelink-lock":                              "phonelink_lock",
    "phonelink-off":                               "phonelink_off",
    "phonelink-ring":                              "phonelink_ring",
    "phonelink-setup":                             "phonelink_setup",
    "photo":                                       "photo",
    "photo-album":                                 "photo_album",
    "photo-camera":                                "photo_camera",
    "photo-filter":                                "photo_filter",
    "photo-library":                               "photo_library",
    "photo-size-select-actual":                    "photo_size_select_actual",
    "photo-size-select-large":                     "photo_size_select_large",
    "photo-size-select-small":                     "photo_size_select_small",
    "picture-as-pdf":                              "picture_as_pdf",
    "picture-in-picture":                          "picture_in_picture",
    "picture-in-picture-alt":                      "picture_in_picture_alt",
    "pie-chart":                                   "pie_chart",
    "pin-drop":                                    "pin_drop",
    "place":                                       "place",
    "play-arrow":                                  "play_arrow",
    "play-circle-filled":                          "play_circle_filled",
    "play-circle-filled-white":                    "play_circle_filled_white",
    "play-circle-outline":                         "play_circle_outline",
    "play-for-work":                               "play_for_work",
    "playlist-add":                                "playlist_add",
    "playlist-add-check":                          "playlist_add_check",
    "playlist-play":                               "playlist_play",
    "plus-one":                                    "plus_one",
    "poll":                                        "poll",
    "polymer":                                     "polymer",
    "pool":                                        "pool",
    "portable-wifi-off":                           "portable_wifi_off",
    "portrait":                                    "portrait",
    "power":                                       "power",
    "power-input":                                 "power_input",
    "power-off":                                   "power_off",
    "power-settings-new":                          "power_settings_new",
    "pregnant-woman":                              "pregnant_woman",
    "present-to-all":                              "present_to_all",
    "print":                                       "print",
    "print-disabled":                              "print_disabled",
    "priority-high":                               "priority_high",
    "public":                                      "public",
    "publish":                                     "publish",
    "query-builder":                               "query_builder",
    "question-answer":                             "question_answer",
    "queue":                                       "queue",
    "queue-music":                                 "queue_music",
    "queue-play-next":                             "queue_play_next",
    "radio":                                       "radio",
    "radio-button-checked":                        "radio_button_checked",
    "radio-button-unchecked":                      "radio_button_unchecked",
    "rate-review":                                 "rate_review",
    "receipt":                                     "receipt",
    "recent-actors":                               "recent_actors",
    "record-voice-over":                           "record_voice_over",
    "redeem":                                      "redeem",
    "redo":                                        "redo",
    "refresh":                                     "refresh",
    "remove":                                      "remove",
    "remove-circle":                               "remove_circle",
    "remove-circle-outline":                       "remove_circle_outline",
    "remove-from-queue":                           "remove_from_queue",
    "remove-red-eye":                              "remove_red_eye",
    "remove-shopping-cart":                        "remove_shopping_cart",
    "reorder":                                     "reorder",
    "repeat":                                      "repeat",
    "repeat-one":                                  "repeat_one",
    "replay":                                      "replay",
    "replay-10":                                   "replay_10",
    "replay-30":                                   "replay_30",
    "replay-5":                                    "replay_5",
    "reply":                                       "reply",
    "reply-all":                                   "reply_all",
    "report":                                      "report",
    "report-off":                                  "report_off",
    "report-problem":                              "report_problem",
    "restaurant":                                  "restaurant",
    "restaurant-menu":                             "restaurant_menu",
    "restore":                                     "restore",
    "restore-from-trash":                          "restore_from_trash",
    "restore-page":                                "restore_page",
    "ring-volume":                                 "ring_volume",
    "room":                                        "room",
    "room-service":                                "room_service",
    "rotate-90-degrees-ccw":                       "rotate_90_degrees_ccw",
    "rotate-left":                                 "rotate_left",
    "rotate-right":                                "rotate_right",
    "rounded-corner":                              "rounded_corner",
    "router":                                      "router",
    "rowing":                                      "rowing",
    "rss-feed":                                    "rss_feed",
    "rv-hookup":                                   "rv_hookup",
    "satellite":                                   "satellite",
    "save":                                        "save",
    "save-alt":                                    "save_alt",
    "scanner":                                     "scanner",
    "scatter-plot":                                "scatter_plot",
    "schedule":                                    "schedule",
    "school":                                      "school",
    "score":                                       "score",
    "screen-lock-landscape":                       "screen_lock_landscape",
    "screen-lock-portrait":                        "screen_lock_portrait",
    "screen-lock-rotation":                        "screen_lock_rotation",
    "screen-rotation":                             "screen_rotation",
    "screen-share":                                "screen_share",
    "sd-card":                                     "sd_card",
    "sd-storage":                                  "sd_storage",
    "search":                                      "search",
    "security":                                    "security",
    "select-all":                                  "select_all",
    "send":                                        "send",
    "sentiment-dissatisfied":                      "sentiment_dissatisfied",
    "sentiment-satisfied":                         "sentiment_satisfied",
    "sentiment-satisfied-alt":                     "sentiment_satisfied_alt",
    "sentiment-very-dissatisfied":                 "sentiment_very_dissatisfied",
    "sentiment-very-satisfied":                    "sentiment_very_satisfied",
    "settings":                                    "settings",
    "settings-applications":                       "settings_applications",
    "settings-backup-restore":                     "settings_backup_restore",
    "settings-bluetooth":                          "settings_bluetooth",
    "settings-brightness":                         "settings_brightness",
    "settings-cell":                               "settings_cell",
    "settings-ethernet":                           "settings_ethernet",
    "settings-input-antenna":                      "settings_input_antenna",
    "settings-input-component":                    "settings_input_component",
    "settings-input-composite":                    "settings_input_composite",
    "settings-input-hdmi":                         "settings_input_hdmi",
    "settings-input-svideo":                       "settings_input_svideo",
    "settings-overscan":                           "settings_overscan",
    "settings-phone":                              "settings_phone",
    "settings-power":                              "settings_power",
    "settings-remote":                             "settings_remote",
    "settings-system-daydream":                    "settings_system_daydream",
    "settings-voice":                              "settings_voice",
    "share":                                       "share",
    "shop":                                        "shop",
    "shop-two":                                    "shop_two",
    "shopping-basket":                             "shopping_basket",
    "shopping-cart":                               "shopping_cart",
    "short-text":                                  "short_text",
    "show-chart":                                  "show_chart",
    "shuffle":                                     "shuffle",
    "shutter-speed":                               "shutter_speed",
    "signal-cellular-0-bar":                       "signal_cellular_0_bar",
    "signal-cellular-1-bar":                       "signal_cellular_1_bar",
    "signal-cellular-2-bar":                       "signal_cellular_2_bar",
    "signal-cellular-3-bar":                       "signal_cellular_3_bar",
    "signal-cellular-4-bar":                       "signal_cellular_4_bar",
    "signal-cellular-alt":                         "signal_cellular_alt",
    "signal-cellular-connected-no-internet-0-bar": "signal_cellular_connected_no_internet_0_bar",
    "signal-cellular-connected-no-internet-1-bar": "signal_cellular_connected_no_internet_1_bar",
    "signal-cellular-connected-no-internet-2-bar": "signal_cellular_connected_no_internet_2_bar",
    "signal-cellular-connected-no-internet-3-bar": "signal_cellular_connected_no_internet_3_bar",
    "signal-cellular-connected-no-internet-4-bar": "signal_cellular_connected_no_internet_4_bar",
    "signal-cellular-no-sim":                      "signal_cellular_no_sim",
    "signal-cellular-null":                        "signal_cellular_null",
    "signal-cellular-off":                         "signal_cellular_off",
    "signal-wifi-0-bar":                           "signal_wifi_0_bar",
    "signal-wifi-1-bar":                           "signal_wifi_1_bar",
    "signal-wifi-1-bar-lock":                      "signal_wifi_1_bar_lock",
    "signal-wifi-2-bar":                           "signal_wifi_2_bar",
    "signal-wifi-2-bar-lock":                      "signal_wifi_2_bar_lock",
    "signal-wifi-3-bar":                           "signal_wifi_3_bar",
    "signal-wifi-3-bar-lock":                      "signal_wifi_3_bar_lock",
    "signal-wifi-4-bar":                           "signal_wifi_4_bar",
    "signal-wifi-4-bar-lock":                      "signal_wifi_4_bar_lock",
    "signal-wifi-off":                             "signal_wifi_off",
    "sim-card":                                    "sim_card",
    "skip-next":                                   "skip_next",
    "skip-previous":                               "skip_previous",
    "slideshow":                                   "slideshow",
    "slow-motion-video":                           "slow_motion_video",
    "smartphone":                                  "smartphone",
    "smoke-free":                                  "smoke_free",
    "smoking-rooms":                               "smoking_rooms",
    "sms":                                         "sms",
    "sms-failed":                                  "sms_failed",
    "snooze":                                      "snooze",
    "sort":                                        "sort",
    "sort-by-alpha":                               "sort_by_alpha",
    "spa":                                         "spa",
    "space-bar":                                   "space_bar",
    "speaker":                                     "speaker",
    "speaker-group":                               "speaker_group",
    "speaker-notes":                               "speaker_notes",
    "speaker-notes-off":                           "speaker_notes_off",
    "speaker-phone":                               "speaker_phone",
    "spellcheck":                                  "spellcheck",
    "star":                                        "star",
    "star-border":                                 "star_border",
    "star-half":                                   "star_half",
    "star-rate":                                   "star_rate",
    "stars":                                       "stars",
    "stay-current-landscape":                      "stay_current_landscape",
    "stay-current-portrait":                       "stay_current_portrait",
    "stay-primary-landscape":                      "stay_primary_landscape",
    "stay-primary-portrait":                       "stay_primary_portrait",
    "stop":                                        "stop",
    "stop-screen-share":                           "stop_screen_share",
    "storage":                                     "storage",
    "store":                                       "store",
    "store-mall-directory":                        "store_mall_directory",
    "straighten":                                  "straighten",
    "streetview":                                  "streetview",
    "strikethrough-s":                             "strikethrough_s",
    "style":                                       "style",
    "subdirectory-arrow-left":                     "subdirectory_arrow_left",
    "subdirectory-arrow-right":                    "subdirectory_arrow_right",
    "subject":                                     "subject",
    "subscriptions":                               "subscriptions",
    "subtitles":                                   "subtitles",
    "subway":                                      "subway",
    "supervised-user-circle":                      "supervised_user_circle",
    "supervisor-account":                          "supervisor_account",
    "surround-sound":                              "surround_sound",
    "swap-calls":                                  "swap_calls",
    "swap-horiz":                                  "swap_horiz",
    "swap-horizontal-circle":                      "swap_horizontal_circle",
    "swap-vert":                                   "swap_vert",
    "swap-vertical-circle":                        "swap_vertical_circle",
    "switch-camera":                               "switch_camera",
    "switch-video":                                "switch_video",
    "sync":                                        "sync",
    "sync-disabled":                               "sync_disabled",
    "sync-problem":                                "sync_problem",
    "system-update":                               "system_update",
    "tab":                                         "tab",
    "tab-unselected":                              "tab_unselected",
    "table-chart":                                 "table_chart",
    "tablet":                                      "tablet",
    "tablet-android":                              "tablet_android",
    "tablet-mac":                                  "tablet_mac",
    "tag-faces":                                   "tag_faces",
    "tap-and-play":                                "tap_and_play",
    "terrain":                                     "terrain",
    "text-fields":                                 "text_fields",
    "text-format":                                 "text_format",
    "text-rotate-up":                              "text_rotate_up",
    "text-rotate-vertical":                        "text_rotate_vertical",
    "text-rotation-down":                          "text_rotation_down",
    "text-rotation-none":                          "text_rotation_none",
    "textsms":                                     "textsms",
    "texture":                                     "texture",
    "theaters":                                    "theaters",
    "thumb-down":                                  "thumb_down",
    "thumb-down-alt":                              "thumb_down_alt",
    "thumb-up":                                    "thumb_up",
    "thumb-up-alt":                                "thumb_up_alt",
    "thumbs-up-down":                              "thumbs_up_down",
    "time-to-leave":                               "time_to_leave",
    "timelapse":                                   "timelapse",
    "timeline":                                    "timeline",
    "timer":                                       "timer",
    "timer-10":                                    "timer_10",
    "timer-3":                                     "timer_3",
    "timer-off":                                   "timer_off",
    "title":                                       "title",
    "toc":                                         "toc",
    "today":                                       "today",
    "toggle-off":                                  "toggle_off",
    "toggle-on":                                   "toggle_on",
    "toll":                                        "toll",
    "tonality":                                    "tonality",
    "touch-app":                                   "touch_app",
    "toys":                                        "toys",
    "track-changes":                               "track_changes",
    "traffic":                                     "traffic",
    "train":                                       "train",
    "tram":                                        "tram",
    "transfer-within-a-station":                   "transfer_within_a_station",
    "transform":                                   "transform",
    "transit-enterexit":                           "transit_enterexit",
    "translate":                                   "translate",
    "trending-down":                               "trending_down",
    "trending-flat":                               "trending_flat",
    "trending-up":                                 "trending_up",
    "trip-origin":                                 "trip_origin",
    "tune":                                        "tune",
    "turned-in":                                   "turned_in",
    "turned-in-not":                               "turned_in_not",
    "tv":                                          "tv",
    "tv-off":                                      "tv_off",
    "unarchive":                                   "unarchive",
    "undo":                                        "undo",
    "unfold-less":                                 "unfold_less",
    "unfold-more":                                 "unfold_more",
    "unsubscribe":                                 "unsubscribe",
    "update":                                      "update",
    "usb":                                         "usb",
    "verified-user":                               "verified_user",
    "vertical-align-bottom":                       "vertical_align_bottom",
    "vertical-align-center":                       "vertical_align_center",
    "vertical-align-top":                          "vertical_align_top",
    "vertical-split":                              "vertical_split",
    "vibration":                                   "vibration",
    "video-call":                                  "video_call",
    "video-label":                                 "video_label",
    "video-library":                               "video_library",
    "videocam":                                    "videocam",
    "videocam-off":                                "videocam_off",
    "videogame-asset":                             "videogame_asset",
    "view-agenda":                                 "view_agenda",
    "view-array":                                  "view_array",
    "view-carousel":                               "view_carousel",
    "view-column":                                 "view_column",
    "view-comfy":                                  "view_comfy",
    "view-compact":                                "view_compact",
    "view-day":                                    "view_day",
    "view-headline":                               "view_headline",
    "view-list":                                   "view_list",
    "view-module":                                 "view_module",
    "view-quilt":                                  "view_quilt",
    "view-stream":                                 "view_stream",
    "view-week":                                   "view_week",
    "vignette":                                    "vignette",
    "visibility":                                  "visibility",
    "visibility-off":                              "visibility_off",
    "voice-chat":                                  "voice_chat",
    "voice-over-off":                              "voice_over_off",
    "voicemail":                                   "voicemail",
    "volume-down":                                 "volume_down",
    "volume-mute":                                 "volume_mute",
    "volume-off":                                  "volume_off",
    "volume-up":                                   "volume_up",
    "vpn-key":                                     "vpn_key",
    "vpn-lock":                                    "vpn_lock",
    "wallpaper":                                   "wallpaper",
    "warning":                                     "warning",
    "watch":                                       "watch",
    "watch-later":                                 "watch_later",
    "waves":                                       "waves",
    "wb-auto":                                     "wb_auto",
    "wb-cloudy":                                   "wb_cloudy",
    "wb-incandescent":                             "wb_incandescent",
    "wb-iridescent":                               "wb_iridescent",
    "wb-sunny":                                    "wb_sunny",
    "wc":                                          "wc",
    "web":                                         "web",
    "web-asset":                                   "web_asset",
    "weekend":                                     "weekend",
    "whatshot":                                    "whatshot",
    "where-to-vote":                               "where_to_vote",
    "widgets":                                     "widgets",
    "wifi":                                        "wifi",
    "wifi-lock":                                   "wifi_lock",
    "wifi-off":                                    "wifi_off",
    "wifi-tethering":                              "wifi_tethering",
    "work":                                        "work",
    "work-off":                                    "work_off",
    "work-outline":                                "work_outline",
    "wrap-text":                                   "wrap_text",
    "youtube-searched-for":                        "youtube_searched_for",
    "zoom-in":                                     "zoom_in",
    "zoom-out":                                    "zoom_out",
    "zoom-out-map":                                "zoom_out_map"
  }
}

@font-face
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: url(MaterialIcons-Regular.woff2) format('woff2'), url(MaterialIcons-Regular.woff) format('woff'), url(MaterialIcons-Regular.ttf) format('truetype');

.material-icons,
.mi
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

for name, icon in material.icons
  .mi-{name}
    &:before
      content: icon;
