
button.default {
	background: #36b2e6;
	padding: 2em 4em;
    -webkit-box-shadow: 0 0 3em rgba(54,178,230,0.8);
    box-shadow: 0 0 3em rgba(54,178,230,0.8);
	position: relative;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	-webkit-transition: 300ms all ease-in-out;
	transition: 300ms all ease-in-out;
	min-width: 24em;
}
button.default:hover {
	 -webkit-box-shadow: 0 0 6em rgba(54,178,230,0);
    box-shadow: 0 0 6em rgba(54,178,230,0);
}
button.default a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "english-grotesque",sans-serif;
	font-size: 2.2em;
}
button.alt_btn {
	float: left;
	-webkit-appearance: none;
	background: transparent;
	border: none;
	font-size: 1em;
	font-weight: 600;
	font-family: "english-grotesque",sans-serif;
	cursor: pointer;
	z-index: 99;
}
button.alt_btn a {
	color: color(tertiary);
	text-transform: uppercase;
}
button.alt_btn a i {
	color: #36b2e6;
	margin-right: 1em;
	-webkit-transition: 300ms all ease-in-out;
	transition: 300ms all ease-in-out;
}
button.alt_btn:hover a i {
	margin-right: 1.2em;
}
/* nav button */
div.nav_button {
	background: #36b2e6;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 4em;
	top: 4em;
	z-index: 999;
	cursor: pointer;
	-webkit-transition: 300ms all ease-in-out;
	transition: 300ms all ease-in-out;
	line-height: 2.9em;
}