
section {
	min-height: 600px;
	padding: 4em 0;
	position: relative;
	
	&:last-of-type {
		@include mq("phone-wide") {
			padding-bottom: 8em;
		}
	}
}
section.default {
	background: #ffca3b
}
section.default.posts {
	background: -webkit-linear-gradient(to bottom, #ffca3b,#ffca3b,#ffca3b, #fdb029, #f9941e, #f4781b, #ec5a1e);
    background: -moz-linear-gradient(to bottom, #ffca3b,#ffca3b,#ffca3b, #fdb029, #f9941e, #f4781b, #ec5a1e);
    background: -ms-linear-gradient(to bottom, #ffca3b,#ffca3b,#ffca3b, #fdb029, #f9941e, #f4781b, #ec5a1e);
    background: -0-linear-gradient(to bottom,#ffca3b,#ffca3b,#ffca3b, #fdb029, #f9941e, #f4781b, #ec5a1e);
    background: linear-gradient(to bottom, #ffca3b,#ffca3b,#ffca3b, #fdb029, #f9941e, #f4781b, #ec5a1e);
}
section.default.blog-listings, .single section.pre_footer {
	padding-bottom: 15em;
}
section center {
	max-width: 1440px;
	width: 90%;
	margin: auto;
	position: relative;
}

body:not(.home) img.leaf:nth-of-type(1),
body:not(.home) img.leaf:nth-of-type(2),
body:not(.home) img.leaf:nth-of-type(3),
body:not(.home) img.leaf:nth-of-type(4),
body:not(.home) img.leaf:nth-of-type(11),
body:not(.home) img.leaf:nth-of-type(10),
body:not(.home) img.leaf:nth-of-type(9),
body:not(.home) img.leaf:nth-of-type(14){
	display: none
}

body:not(.home) img.leaf:nth-of-type(8) {
    max-width: 25vw;
    width: 35vh;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
    top: -14vh !important;
}
body:not(.home) img.leaf:nth-of-type(13) {
    max-width: 10vw;
    width: 15vh;
    top: -2vh;
    right: 26vh !important;
    -webkit-transform: rotate(-50deg) !important;
    transform: rotate(-50deg) !important;
}

body:not(.home) img.oval {
    top: 0;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}
body:not(.home) img.logo {
	top: 4em;
	-webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	max-width: 25vw;
	min-width: 37vw
}

/* cookie */
#cookie_bar_toggle {
    display: none;
}
.cookie-bar {
    z-index: 2147483647;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
	display: none
}
.cookie-bar .cookie-bar-inner {
    position: absolute;
    bottom: 4em;
    left: 4rem;
    width: 27.5rem;
    padding: 2rem 3.5rem 2rem 3rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.6);
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.6);
    background: #333;
    text-align: left;
    color: #fff;
    vertical-align: bottom;
}
.cookie-bar .cookie-bar-inner .cookie-bar-close {
    position: absolute;
    top: 0;
    right: 2rem;
    margin: 0;
    padding: 1.9rem 0 0 3.5rem;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.cookie-bar .cookie-bar-inner .cookie-bar-text {
    font-size: 1rem;
}
.cookie-bar .cookie-bar-inner .cookie-bar-link {
    display: inline-block;
    margin: 1em 0 0;
    text-decoration: underline;
    font-size: 1.15rem;
    color: #fff;
	cursor: pointer;
	-webkit-transition: 300ms all ease-in-out;
	transition: 300ms all ease-in-out;
}
.cookie-bar .cookie-bar-inner .cookie-bar-link:hover {
	text-decoration: none;
}

/* privacy */
.page-template-privacy main {
	min-height: 35em;height: auto;

}
.page-template-privacy section.default {
	padding-bottom:18em
}
#privacy h3 {
	float: none;
	clear: both;
} 
#privacy article > ol {
	font-size: 1.2em;
	line-height: 1.7em;
}
#privacy article > ol > li {
	margin-bottom: 1em;
}
#privacy article > ol > li:last-of-type {
	margin-bottom: 0
}
#privacy article a {
	color: color(tertiary);
	cursor: pointer;
	-webkit-transition: 300ms all ease-in-out;
	transition: 300ms all ease-in-out;
}
#privacy article a:hover {
	opacity: .8;
}
#privacy ol li {
    text-align: left;
    list-style-type: inherit;
    font-weight: 300;
}
#privacy ol li ol {
	margin: .75em 0;
}
#privacy ul li {
    list-style-type: disc;
    text-align: left;
    line-height: 1.7em;
    font-size: 1.2em;
    font-weight: 300;
}