/* blog listing */
div.container.top {
  top: 24em;
  position: absolute;
  width: 100%; }

div.container.top p {
  text-align: center;
  color: white;
  clear: both;
  position: relative; }

div.container.top h3.tagline {
  position: relative;
  bottom: auto;
  clear: both;
  margin: 2em 0; }

section.blog-listings div.list {
  	/*-webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-break-inside: avoid;
      column-gap: 5em;
      margin-top: 3em;*/
  overflow: hidden; }

div.list div.cards {
  	/*display: block;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-column-break-inside: avoid;*/
  width: calc(33% - 3em);
  float: left;
  margin-right: 3em;
  margin-bottom: 3em;
  position: relative;
  height: 36em;
  display: none; }

.search div.list div.cards {
  display: block; }

div.list div.cards:nth-of-type(3n+3) {
  margin-right: 0; }

div.list div.cards:nth-of-type(3n+1) {
  top: 3em; }

div.list div.cards:nth-of-type(3n+3) {
  top: 4em; }

div.list div.cards img {
  margin-left: 45px;
  object-fit: cover;
  height: 17em;
  width: calc(100% - 45px);
  position: absolute;
  left: 0; }

div.list div.cards .orange_bg, div.partner-list div.cards .orange_bg {
  background: #f9941e;
  width: calc(100% - 45px);
  overflow: hidden;
  padding: 15em 0 2em;
  float: left;
  margin-top: 30px; }

div.list div.cards .orange_bg h3,
div.partner-list div.cards .orange_bg h3 {
  width: 80%;
  line-height: .9em;
  float: none;
  margin: 1em 0;
  height: 2.8em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.pre_footer div.list div.cards {
  display: block;
  margin-bottom: 5em; }

a.load_more {
  text-transform: uppercase;
  color: color(tertiary); }

div.default_btn {
  float: left;
  width: 80%;
  text-align: left;
  margin-left: 10%;
  color: color(tertiary);
  text-transform: uppercase;
  cursor: pointer; }

div.default_btn span i {
  color: #36b2e6;
  margin-right: 10px;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out; }

div.default_btn span:hover i {
  margin: 0 5px 0 5px; }

article[id^="post"] {
  max-width: 1250px;
  margin: auto;
  width: 90%; }

article[id^="post"] > img {
  z-index: 0; }

article[id^="post"] div.content_area > img.absolute.stripe {
  left: -4em;
  width: 14em;
  max-width: 100%; }

article[id^="post"] div.content_area > img.absolute.stripe:nth-of-type(2) {
  top: -2em;
  z-index: 0;
  width: 13em;
  left: -3em; }

article[id^="post"] div.content_area > img.absolute.stripe:nth-of-type(1) {
  top: -9em;
  z-index: 0;
  width: 25em;
  left: -3em; }

article[id^="post"] div.content_area {
  position: relative; }

article[id^="post"] div.content_area:nth-of-type(1) {
  width: 100%;
  margin: -4em auto 0;
  z-index: 9; }

article[id^="post"] div.content_area p {
  color: white; }

article[id^="post"] div.content_area div.inner {
  background: #f9941e;
  padding: 3em;
  width: calc(100% - 15em);
  margin: auto;
  overflow: hidden;
  z-index: 0;
  position: relative; }

article[id^="post"] div.content_area:nth-of-type(3) div.inner {
  padding-top: 0; }

article[id^="post"] img.absolute {
  max-width: 100px; }

article[id^="post"] div.content_area div.text_right, article[id^="post"] div.content_area div.text_left {
  padding: 2em 0;
  position: relative;
  min-height: 29em; }

article[id^="post"] div.content_area div.text_left {
  padding: 0; }

article[id^="post"] div.content_area div.text_right img,
article[id^="post"] div.content_area img.img_left {
  display: inline-block;
  width: 24em;
  margin-left: 0;
  z-index: 9; }

article[id^="post"] div.content_area img.img_left,
article[id^="post"] div.content_area img.img_right {
  position: absolute; }

article[id^="post"] div.content_area img.absolute {
  max-width: 100%;
  width: 16em;
  left: -9em;
  z-index: 0;
  top: -5em; }

article[id^="post"] div.content_area img.absolute.stripe {
  left: auto;
  right: -4em;
  max-width: 100%; }

article[id^="post"] div.content_area img.absolute.stripe:nth-of-type(1) {
  width: 31em;
  top: -24em; }

article[id^="post"] div.content_area img.absolute.stripe:nth-of-type(2) {
  top: -9em;
  width: 14em; }

article[id^="post"] div.content_area img.absolute.stripe.second:nth-of-type(2) {
  top: -23em;
  width: 31em;
  right: -3em; }

article[id^="post"] div.content_area div.text_right p {
  width: calc(100% - 25em);
  margin-left: 19em;
  display: inline-block;
  vertical-align: top;
  margin-top: 0; }

article[id^="post"] div.content_area div.text_left img,
article[id^="post"] div.content_area img.img_right {
  display: inline-block;
  width: 38em;
  float: right;
  margin-top: 5em;
  right: -1em;
  z-index: 9; }

article[id^="post"] div.content_area:nth-of-type(3) img.absolute {
  max-width: 100%;
  width: 10em;
  right: -5em;
  z-index: 0;
  left: auto;
  top: -6em; }

article[id^="post"] div.content_area:nth-of-type(3) > img.absolute.two {
  top: 30em;
  right: -3em; }

article[id^="post"] div.content_area div.text_left p {
  width: calc(100% - 32em);
  margin-right: 5em;
  display: inline-block;
  vertical-align: top; }

article[id^="post"] div.extra_para {
  clear: both; }

/* end./ blog listing*/
/* blog single */
div.container.post span.entry-date {
  text-transform: uppercase;
  text-align: center;
  color: color(tertiary);
  margin-bottom: 2em;
  display: block;
  position: relative; }

div.container.post h1 {
  max-width: 800px;
  margin: 1em auto 0; }

body:not(.home) div.container h1::after {
  bottom: 0; }

div.container.search h2 {
  max-width: 100%;
  float: none;
  text-align: center;
  margin-top: 2em;
  font-size: 2em; }

form.search {
  width: 90%;
  max-width: 450px;
  margin: auto; }

form.search input {
  background: transparent;
  border: 2px solid #36b2e6;
  padding: 1em;
  color: white;
  border-radius: 0;
  -webkit-appearance: none;
  margin: 0;
  font-weight: 700;
  font-size: .9em;
  width: calc(100% - 5em);
  height: 3.45em; }

form.search input:focus,
form.search .search-submit:focus {
  outline: none; }

form.search .search-submit {
  background: #36b2e6;
  margin: 0;
  border-radius: 0;
  -webkit-appearance: none;
  height: 4.5em;
  border: none;
  vertical-align: top;
  margin-left: -0.4em;
  width: 6em;
  cursor: pointer; }

form.search .search-submit i {
  color: white;
  font-size: 1.6em;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out; }

form.search .search-submit:hover i {
  opacity: 0.66; }

div.alert a {
  text-decoration: none;
  font-weight: 700;
  color: #36b2e6; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
  opacity: .7;
  font-weight: 700; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: .7;
  font-weight: 700; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
  opacity: .7;
  font-weight: 700; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
  opacity: .7;
  font-weight: 700; }

/* end./ blog single*/
