
/* doing our bit */
div.half-col {
	width: calc(50% - 1em);
	display: inline-block;
	vertical-align: top;
}

div.wrapper {
	position: relative;
}
#dob section img.absolute {
	max-width: 10vh;
}
dob section.default h2 {
	font-display: 3.5em;
	margin-bottom: 1em;
}
#dob section.default.blue_trap center {
	margin-top: -10em
}
#dob section.default.blue_trap::before  {
	display: none;
}
#dob section.default:nth-of-type(1)::before {
	border-width: 30vw 100vw 0 0;
    border-color: #ffca3b #36b2e6 transparent transparent;
	content: '';
    margin-bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    display: inline;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
}
#dob section.default:nth-of-type(1) {
	padding-bottom: 22em;
}
#dob section.default:nth-of-type(1) div.wrapper {
	position: relative;
	clear: both;
}
#dob section.default:nth-of-type(1) div.wrapper.two {
	max-width: 1200px;
	margin-top: 8em;
	z-index: 1;
}
#dob section.default:nth-of-type(1) img.featured {
	width: 90%;
	position: relative;
	margin: auto;
}
#dob section.default:nth-of-type(1) img.secondary {
	width: 30%;
	position: relative;
	float: left;
	margin: 1.5em auto;
	-webkit-box-shadow: 0 0 6em rgba(0,0,0,0.33);
    box-shadow: 0 0 6em rgba(0,0,0,0.33);
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) div.box {
    float: right;
    width: calc(70% - 13em);
    padding: 4em;
    margin-left: 2em;
    background: #f9941e;
    margin-top: -6em;
    position: relative;
    z-index: 9;
	-webkit-box-shadow: 0 0 6em rgba(0,0,0,0.33);
    box-shadow: 0 0 6em rgba(0,0,0,0.33);
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) div.box p, 
#dob section.default:nth-of-type(1) div.half-col div.box p {
	color: white;
	margin: 0;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) div.box p {
	margin-bottom: 1em;
}
#dob section.default:nth-of-type(1) div.wrapper dov.half-col > h2 {
	
}
#dob section.default:nth-of-type(1) div.half-col div.box {
	width: calc(100% - 9em);
    padding: 3em 3em 4em;
	-webkit-box-shadow: 0 0 6em rgba(0,0,0,0.33);
    box-shadow: 0 0 6em rgba(0,0,0,0.33);
	position: relative;
	z-index: 9;
}
#dob section.default:nth-of-type(1) div.half-col:nth-of-type(1) img {
	max-width: 100%;
}
#dob section.default:nth-of-type(1) div.half-col:nth-of-type(1) div.box {
	background: #36b2e6;
	float: left;
	margin-top: 4em;
}
#dob section.default:nth-of-type(1) div.half-col:nth-of-type(2) div.box {
	background: color(tertiary);
	width: 55%;
	float: left;
    margin: 3em 0 0 5%;
}

#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) > img.absolute:nth-of-type(1) {
	top: -5em;
	left: 4em;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) > img.absolute:nth-of-type(2) {
	top: 26em;
    right: -3em;
    max-width: 12vh;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) > img.absolute:nth-of-type(3) {
	max-width: 35vh;
    bottom: -37em;
    left: 17em;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) > img.absolute:nth-of-type(4) {
	max-width: 20vh;
    bottom: -19em;
    left: 21em;
    z-index: 1;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) > img.absolute:nth-of-type(5) {
	right: 0;
    bottom: -28em;
    max-width: 15vh;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(1) > img.absolute:nth-of-type(6) {
	bottom: -45em;
    max-width: 20vh;
    z-index: 1;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    left: 17em;
}
#dob section.default:nth-of-type(1) div.wrapper:nth-of-type(2) {
	max-width: 1200px;
}
.partner-slider div.half-col img {
	width: 80%;
	margin: auto;
	-webkit-box-shadow: 0 0 6em rgba(0,0,0,0.33);
    box-shadow: 0 0 6em rgba(0,0,0,0.33);
}
.partner-slider div.half-col h4, div.partner-list h4, h4 {
	text-transform: uppercase;
	color: color(tertiary);
	font-size: 1.2em;
	font-weight: 400;
	text-align: left;
	
	@include mq('tablet') {
		font-size: 1.8em;
	}
}
#dob section.pre_footer {
	height: 12em;
	margin-top: -1px;
}
#dob section.pre_footer  h2 {
	max-width: 710px;
}
#dob section.pre_footer p {
    max-width: 390px;
    line-height: 1.4em;
    margin-top: 3em;
    font-weight: 300;
}
#dob section.pre_footer a {
	color: white;
	opacity: .85;
	cursor: pointer;
}
#dob section.pre_footer center.wrapper {
	top: -18em;
}
#dob section.pre_footer center.wrapper img {
	width: 10em;
    top: -2em;
    position: relative;
    margin-left: -5em;
}
div.partner-list h4 {
	margin: 1em 0 3em 3em;
}
#dob section.default.blue_trap::after {
    content: '';
    border-width: 0 100vw 18vw 0;
    border-color: transparent transparent #de3391 transparent;
}
#dob section.default:nth-of-type(1) div.half-col div.box h5 {
	color: white;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 1.1em;
}
#dob section.default:nth-of-type(1) div.half-col div.box span {
    color: white;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    float: left;
    margin-top: 0.3em;
    clear: both;
    font-size: .9em;
    max-width: 300px;
    line-height: 1.1em;
}
.partner-slider div.half-col p {
	color:white;
}
#dob button.slick-arrow {
    display: none !important;
}
div.partners-slider p {
    color: white;
    width: 90%;
    text-align: left;
    float: left;
    margin-top: 0;
	max-width: 500px;
}
.slick-slide img {
	width: 70%;
	float: left;
}
.slick-track {
	padding-bottom: 12em
}
div.partner-list {
	position: relative;
	display: block;
	padding-bottom: 34em;
	clear: both;
	overflow: hidden;
}
div.partner-list div.cards {
	float: left;
	width: calc(33% - 2em);
	margin-right: 2em;
	height: 22em;
	margin-bottom: 15em;
	position: relative;
}
div.partner-list div.cards:nth-of-type(3n+3) {
	margin-right: 0;
}
div.partner-list div.cards img {
	height: 14vw;
	object-fit: cover;
	width: calc(100% - 4em);
	-webkit-box-shadow: 0 0 2em rgba(0,0,0,0.33);
    box-shadow: 0 0 2em rgba(0,0,0,0.33);
	
	@include mq('tablet-wide') {
		height: 20vw;
	}
}
div.partner-list div.cards:nth-of-type(2n+2) img {
    height: 14vw;
    object-fit: cover;
    width: calc(100% - 4em);
    bottom: -9em;
    position: absolute;
    left: 7em;
	-webkit-box-shadow: 0 0 2em rgba(0,0,0,0.33);
    box-shadow: 0 0 2em rgba(0,0,0,0.33);
	
	@include mq('tablet-wide') {
		height: 20vw;
		bottom: -14vw;
	}
}
div.partner-list div.cards .orange_bg {
    width: calc(100% - 60px);
    padding: 7em 0 2em;
    float: right;
    margin-top: -6em;
}
div.partner-list div.cards:nth-of-type(2n+2) .orange_bg {
    padding: 2em 0 6em;
    float: right;
    margin-top: 0;
	
	@include mq('phone-wide') {
		float: left;
	}
}
div.partner-list div.cards .orange_bg h3 {
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 2em;
	font-weight: 500;
	margin: .4em;
	min-height: 2em;
}
div.partner-list div.cards .orange_bg p {
	color: white;
	margin: auto;
	width: 80%
}
#dob section.default.blue_trap > h2 {
	position: absolute;
}
#dob section.default.blue_trap .half-col {
	vertical-align: top
}
#dob section.default.blue_trap .half-col:nth-of-type(1) {
	padding-top: 12em;
}
#dob section.default.blue_trap center.wrapper > img.absolute:nth-of-type(1) {
    top: -8em;
    max-width: 23vh;
    right: 7em;
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
}
#dob section.default.blue_trap .half-col > img.absolute:nth-of-type(1) {
	max-width: 45vh;
    display: block;
    margin: 6em 0 0 5em;
    z-index: -1;
}
#dob section.default.blue_trap .half-col > img.absolute:nth-of-type(2) {
	bottom: 7em;
    z-index: -1;
    max-width: 14vh;
    margin-left: -5em;
}
#dob section.default.blue_trap h2 {
	max-width: 300px;
	margin-left: 10px;
	position: absolute;
}
#dob section.default:nth-of-type(1) div.wrapper.two img.absolute:nth-of-type(1) {
    -webkit-transform: rotate(-155deg);
    transform: rotate(-155deg);
    max-width: 16vh;
    left: 60%;
    top: 16em;
}
#dob section.default:nth-of-type(1) div.wrapper.two img.absolute:nth-of-type(2) {
	max-width: 33vh;
    left: calc(50% - 16vh);
    top: 17em;
    z-index: -1;
}
#dob section.default:nth-of-type(1) div.wrapper.two img.absolute:nth-of-type(3) {
	max-width: 14vh;
    left: 39%;
    z-index: 0;
}