@import "variables";

@font-face
	font-family: 'Socicon';
	src: url('Socicon.eot?orx2yt');
	src: url('Socicon.eot?orx2yt#iefix') format('embedded-opentype'), url('Socicon.woff2?orx2yt') format('woff2'), url('Socicon.ttf?orx2yt') format('truetype'), url('Socicon.woff?orx2yt') format('woff'), url('Socicon.svg?orx2yt#Socicon') format('svg');
	font-weight: normal;
	font-style: normal;

[class^="socicon-"], [class*=" socicon-"]
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Socicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.socicon-moddb
	&:before
		content: socicons.moddb;

.socicon-indiedb
	&:before
		content: socicons.indiedb;

.socicon-traxsource
	&:before
		content: socicons.traxsource;

.socicon-gamefor
	&:before
		content: socicons.gamefor;

.socicon-pixiv
	&:before
		content: socicons.pixiv;

.socicon-myanimelist
	&:before
		content: socicons.myanimelist;

.socicon-blackberry
	&:before
		content: socicons.blackberry;

.socicon-wickr
	&:before
		content: socicons.wickr;

.socicon-spip
	&:before
		content: socicons.spip;

.socicon-napster
	&:before
		content: socicons.napster;

.socicon-beatport
	&:before
		content: socicons.beatport;

.socicon-hackerone
	&:before
		content: socicons.hackerone;

.socicon-hackernews
	&:before
		content: socicons.hackernews;

.socicon-smashwords
	&:before
		content: socicons.smashwords;

.socicon-kobo
	&:before
		content: socicons.kobo;

.socicon-bookbub
	&:before
		content: socicons.bookbub;

.socicon-mailru
	&:before
		content: socicons.mailru;

.socicon-gitlab
	&:before
		content: socicons.gitlab;

.socicon-instructables
	&:before
		content: socicons.instructables;

.socicon-portfolio
	&:before
		content: socicons.portfolio;

.socicon-codered
	&:before
		content: socicons.codered;

.socicon-origin
	&:before
		content: socicons.origin;

.socicon-nextdoor
	&:before
		content: socicons.nextdoor;

.socicon-udemy
	&:before
		content: socicons.udemy;

.socicon-livemaster
	&:before
		content: socicons.livemaster;

.socicon-crunchbase
	&:before
		content: socicons.crunchbase;

.socicon-homefy
	&:before
		content: socicons.homefy;

.socicon-calendly
	&:before
		content: socicons.calendly;

.socicon-realtor
	&:before
		content: socicons.realtor;

.socicon-tidal
	&:before
		content: socicons.tidal;

.socicon-qobuz
	&:before
		content: socicons.qobuz;

.socicon-natgeo
	&:before
		content: socicons.natgeo;

.socicon-mastodon
	&:before
		content: socicons.mastodon;

.socicon-unsplash
	&:before
		content: socicons.unsplash;

.socicon-homeadvisor
	&:before
		content: socicons.homeadvisor;

.socicon-angieslist
	&:before
		content: socicons.angieslist;

.socicon-codepen
	&:before
		content: socicons.codepen;

.socicon-slack
	&:before
		content: socicons.slack;

.socicon-openaigym
	&:before
		content: socicons.openaigym;

.socicon-logmein
	&:before
		content: socicons.logmein;

.socicon-fiverr
	&:before
		content: socicons.fiverr;

.socicon-gotomeeting
	&:before
		content: socicons.gotomeeting;

.socicon-aliexpress
	&:before
		content: socicons.aliexpress;

.socicon-guru
	&:before
		content: socicons.guru;

.socicon-appstore
	&:before
		content: socicons.appstore;

.socicon-homes
	&:before
		content: socicons.homes;

.socicon-zoom
	&:before
		content: socicons.zoom;

.socicon-alibaba
	&:before
		content: socicons.alibaba;

.socicon-craigslist
	&:before
		content: socicons.craigslist;

.socicon-wix
	&:before
		content: socicons.wix;

.socicon-redfin
	&:before
		content: socicons.redfin;

.socicon-googlecalendar
	&:before
		content: socicons.googlecalendar;

.socicon-shopify
	&:before
		content: socicons.shopify;

.socicon-freelancer
	&:before
		content: socicons.freelancer;

.socicon-seedrs
	&:before
		content: socicons.seedrs;

.socicon-bing
	&:before
		content: socicons.bing;

.socicon-doodle
	&:before
		content: socicons.doodle;

.socicon-bonanza
	&:before
		content: socicons.bonanza;

.socicon-squarespace
	&:before
		content: socicons.squarespace;

.socicon-toptal
	&:before
		content: socicons.toptal;

.socicon-gust
	&:before
		content: socicons.gust;

.socicon-ask
	&:before
		content: socicons.ask;

.socicon-trulia
	&:before
		content: socicons.trulia;

.socicon-loomly
	&:before
		content: socicons.loomly;

.socicon-ghost
	&:before
		content: socicons.ghost;

.socicon-upwork
	&:before
		content: socicons.upwork;

.socicon-fundable
	&:before
		content: socicons.fundable;

.socicon-booking
	&:before
		content: socicons.booking;

.socicon-googlemaps
	&:before
		content: socicons.googlemaps;

.socicon-zillow
	&:before
		content: socicons.zillow;

.socicon-niconico
	&:before
		content: socicons.niconico;

.socicon-toneden
	&:before
		content: socicons.toneden;

.socicon-augment
	&:before
		content: socicons.augment;

.socicon-bitbucket
	&:before
		content: socicons.bitbucket;

.socicon-fyuse
	&:before
		content: socicons.fyuse;

.socicon-yt-gaming
	&:before
		content: socicons.yt-gaming;

.socicon-sketchfab
	&:before
		content: socicons.sketchfab;

.socicon-mobcrush
	&:before
		content: socicons.mobcrush;

.socicon-microsoft
	&:before
		content: socicons.microsoft;

.socicon-pandora
	&:before
		content: socicons.pandora;

.socicon-messenger
	&:before
		content: socicons.messenger;

.socicon-gamewisp
	&:before
		content: socicons.gamewisp;

.socicon-bloglovin
	&:before
		content: socicons.bloglovin;

.socicon-tunein
	&:before
		content: socicons.tunein;

.socicon-gamejolt
	&:before
		content: socicons.gamejolt;

.socicon-trello
	&:before
		content: socicons.trello;

.socicon-spreadshirt
	&:before
		content: socicons.spreadshirt;

.socicon-500px
	&:before
		content: socicons['500px'];

.socicon-8tracks
	&:before
		content: socicons['8tracks'];

.socicon-airbnb
	&:before
		content: socicons.airbnb;

.socicon-alliance
	&:before
		content: socicons.alliance;

.socicon-amazon
	&:before
		content: socicons.amazon;

.socicon-amplement
	&:before
		content: socicons.amplement;

.socicon-android
	&:before
		content: socicons.android;

.socicon-angellist
	&:before
		content: socicons.angellist;

.socicon-apple
	&:before
		content: socicons.apple;

.socicon-appnet
	&:before
		content: socicons.appnet;

.socicon-baidu
	&:before
		content: socicons.baidu;

.socicon-bandcamp
	&:before
		content: socicons.bandcamp;

.socicon-battlenet
	&:before
		content: socicons.battlenet;

.socicon-mixer
	&:before
		content: socicons.mixer;

.socicon-bebee
	&:before
		content: socicons.bebee;

.socicon-bebo
	&:before
		content: socicons.bebo;

.socicon-behance
	&:before
		content: socicons.behance;

.socicon-blizzard
	&:before
		content: socicons.blizzard;

.socicon-blogger
	&:before
		content: socicons.blogger;

.socicon-buffer
	&:before
		content: socicons.buffer;

.socicon-chrome
	&:before
		content: socicons.chrome;

.socicon-coderwall
	&:before
		content: socicons.coderwall;

.socicon-curse
	&:before
		content: socicons.curse;

.socicon-dailymotion
	&:before
		content: socicons.dailymotion;

.socicon-deezer
	&:before
		content: socicons.deezer;

.socicon-delicious
	&:before
		content: socicons.delicious;

.socicon-deviantart
	&:before
		content: socicons.deviantart;

.socicon-diablo
	&:before
		content: socicons.diablo;

.socicon-digg
	&:before
		content: socicons.digg;

.socicon-discord
	&:before
		content: socicons.discord;

.socicon-disqus
	&:before
		content: socicons.disqus;

.socicon-douban
	&:before
		content: socicons.douban;

.socicon-draugiem
	&:before
		content: socicons.draugiem;

.socicon-dribbble
	&:before
		content: socicons.dribbble;

.socicon-drupal
	&:before
		content: socicons.drupal;

.socicon-ebay
	&:before
		content: socicons.ebay;

.socicon-ello
	&:before
		content: socicons.ello;

.socicon-endomodo
	&:before
		content: socicons.endomodo;

.socicon-envato
	&:before
		content: socicons.envato;

.socicon-etsy
	&:before
		content: socicons.etsy;

.socicon-facebook
	&:before
		content: socicons.facebook;

.socicon-feedburner
	&:before
		content: socicons.feedburner;

.socicon-filmweb
	&:before
		content: socicons.filmweb;

.socicon-firefox
	&:before
		content: socicons.firefox;

.socicon-flattr
	&:before
		content: socicons.flattr;

.socicon-flickr
	&:before
		content: socicons.flickr;

.socicon-formulr
	&:before
		content: socicons.formulr;

.socicon-forrst
	&:before
		content: socicons.forrst;

.socicon-foursquare
	&:before
		content: socicons.foursquare;

.socicon-friendfeed
	&:before
		content: socicons.friendfeed;

.socicon-github
	&:before
		content: socicons.github;

.socicon-goodreads
	&:before
		content: socicons.goodreads;

.socicon-google
	&:before
		content: socicons.google;

.socicon-googlescholar
	&:before
		content: socicons.googlescholar;

.socicon-googlegroups
	&:before
		content: socicons.googlegroups;

.socicon-googlephotos
	&:before
		content: socicons.googlephotos;

.socicon-googleplus
	&:before
		content: socicons.googleplus;

.socicon-grooveshark
	&:before
		content: socicons.grooveshark;

.socicon-hackerrank
	&:before
		content: socicons.hackerrank;

.socicon-hearthstone
	&:before
		content: socicons.hearthstone;

.socicon-hellocoton
	&:before
		content: socicons.hellocoton;

.socicon-heroes
	&:before
		content: socicons.heroes;

.socicon-smashcast
	&:before
		content: socicons.smashcast;

.socicon-horde
	&:before
		content: socicons.horde;

.socicon-houzz
	&:before
		content: socicons.houzz;

.socicon-icq
	&:before
		content: socicons.icq;

.socicon-identica
	&:before
		content: socicons.identica;

.socicon-imdb
	&:before
		content: socicons.imdb;

.socicon-instagram
	&:before
		content: socicons.instagram;

.socicon-issuu
	&:before
		content: socicons.issuu;

.socicon-istock
	&:before
		content: socicons.istock;

.socicon-itunes
	&:before
		content: socicons.itunes;

.socicon-keybase
	&:before
		content: socicons.keybase;

.socicon-lanyrd
	&:before
		content: socicons.lanyrd;

.socicon-lastfm
	&:before
		content: socicons.lastfm;

.socicon-line
	&:before
		content: socicons.line;

.socicon-linkedin
	&:before
		content: socicons.linkedin;

.socicon-livejournal
	&:before
		content: socicons.livejournal;

.socicon-lyft
	&:before
		content: socicons.lyft;

.socicon-macos
	&:before
		content: socicons.macos;

.socicon-mail
	&:before
		content: socicons.mail;

.socicon-medium
	&:before
		content: socicons.medium;

.socicon-meetup
	&:before
		content: socicons.meetup;

.socicon-mixcloud
	&:before
		content: socicons.mixcloud;

.socicon-modelmayhem
	&:before
		content: socicons.modelmayhem;

.socicon-mumble
	&:before
		content: socicons.mumble;

.socicon-myspace
	&:before
		content: socicons.myspace;

.socicon-newsvine
	&:before
		content: socicons.newsvine;

.socicon-nintendo
	&:before
		content: socicons.nintendo;

.socicon-npm
	&:before
		content: socicons.npm;

.socicon-odnoklassniki
	&:before
		content: socicons.odnoklassniki;

.socicon-openid
	&:before
		content: socicons.openid;

.socicon-opera
	&:before
		content: socicons.opera;

.socicon-outlook
	&:before
		content: socicons.outlook;

.socicon-overwatch
	&:before
		content: socicons.overwatch;

.socicon-patreon
	&:before
		content: socicons.patreon;

.socicon-paypal
	&:before
		content: socicons.paypal;

.socicon-periscope
	&:before
		content: socicons.periscope;

.socicon-persona
	&:before
		content: socicons.persona;

.socicon-pinterest
	&:before
		content: socicons.pinterest;

.socicon-play
	&:before
		content: socicons.play;

.socicon-player
	&:before
		content: socicons.player;

.socicon-playstation
	&:before
		content: socicons.playstation;

.socicon-pocket
	&:before
		content: socicons.pocket;

.socicon-qq
	&:before
		content: socicons.qq;

.socicon-quora
	&:before
		content: socicons.quora;

.socicon-raidcall
	&:before
		content: socicons.raidcall;

.socicon-ravelry
	&:before
		content: socicons.ravelry;

.socicon-reddit
	&:before
		content: socicons.reddit;

.socicon-renren
	&:before
		content: socicons.renren;

.socicon-researchgate
	&:before
		content: socicons.researchgate;

.socicon-residentadvisor
	&:before
		content: socicons.residentadvisor;

.socicon-reverbnation
	&:before
		content: socicons.reverbnation;

.socicon-rss
	&:before
		content: socicons.rss;

.socicon-sharethis
	&:before
		content: socicons.sharethis;

.socicon-skype
	&:before
		content: socicons.skype;

.socicon-slideshare
	&:before
		content: socicons.slideshare;

.socicon-smugmug
	&:before
		content: socicons.smugmug;

.socicon-snapchat
	&:before
		content: socicons.snapchat;

.socicon-songkick
	&:before
		content: socicons.songkick;

.socicon-soundcloud
	&:before
		content: socicons.soundcloud;

.socicon-spotify
	&:before
		content: socicons.spotify;

.socicon-stackexchange
	&:before
		content: socicons.stackexchange;

.socicon-stackoverflow
	&:before
		content: socicons.stackoverflow;

.socicon-starcraft
	&:before
		content: socicons.starcraft;

.socicon-stayfriends
	&:before
		content: socicons.stayfriends;

.socicon-steam
	&:before
		content: socicons.steam;

.socicon-storehouse
	&:before
		content: socicons.storehouse;

.socicon-strava
	&:before
		content: socicons.strava;

.socicon-streamjar
	&:before
		content: socicons.streamjar;

.socicon-stumbleupon
	&:before
		content: socicons.stumbleupon;

.socicon-swarm
	&:before
		content: socicons.swarm;

.socicon-teamspeak
	&:before
		content: socicons.teamspeak;

.socicon-teamviewer
	&:before
		content: socicons.teamviewer;

.socicon-technorati
	&:before
		content: socicons.technorati;

.socicon-telegram
	&:before
		content: socicons.telegram;

.socicon-tripadvisor
	&:before
		content: socicons.tripadvisor;

.socicon-tripit
	&:before
		content: socicons.tripit;

.socicon-triplej
	&:before
		content: socicons.triplej;

.socicon-tumblr
	&:before
		content: socicons.tumblr;

.socicon-twitch
	&:before
		content: socicons.twitch;

.socicon-twitter
	&:before
		content: socicons.twitter;

.socicon-uber
	&:before
		content: socicons.uber;

.socicon-ventrilo
	&:before
		content: socicons.ventrilo;

.socicon-viadeo
	&:before
		content: socicons.viadeo;

.socicon-viber
	&:before
		content: socicons.viber;

.socicon-viewbug
	&:before
		content: socicons.viewbug;

.socicon-vimeo
	&:before
		content: socicons.vimeo;

.socicon-vine
	&:before
		content: socicons.vine;

.socicon-vkontakte
	&:before
		content: socicons.vkontakte;

.socicon-warcraft
	&:before
		content: socicons.warcraft;

.socicon-wechat
	&:before
		content: socicons.wechat;

.socicon-weibo
	&:before
		content: socicons.weibo;

.socicon-whatsapp
	&:before
		content: socicons.whatsapp;

.socicon-wikipedia
	&:before
		content: socicons.wikipedia;

.socicon-windows
	&:before
		content: socicons.windows;

.socicon-wordpress
	&:before
		content: socicons.wordpress;

.socicon-wykop
	&:before
		content: socicons.wykop;

.socicon-xbox
	&:before
		content: socicons.xbox;

.socicon-xing
	&:before
		content: socicons.xing;

.socicon-yahoo
	&:before
		content: socicons.yahoo;

.socicon-yammer
	&:before
		content: socicons.yammer;

.socicon-yandex
	&:before
		content: socicons.yandex;

.socicon-yelp
	&:before
		content: socicons.yelp;

.socicon-younow
	&:before
		content: socicons.younow;

.socicon-youtube
	&:before
		content: socicons.youtube;

.socicon-zapier
	&:before
		content: socicons.zapier;

.socicon-zerply
	&:before
		content: socicons.zerply;

.socicon-zomato
	&:before
		content: socicons.zomato;

.socicon-zynga
	&:before
		content: socicons.zynga;
